<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LOCAPART</title>
	<link rel=stylesheet href="./style.css">
	<script src="./dependances/vue.js"></script>
	<script src="./dependances/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<div class="topbar">
			<a href="./index.html"><h3>LOCAPPART</h3></a>
			<button>Connexion</button>
		</div>
		<div class="body">
			<div class="search">
				<input type="text" v-model="keyword" placeholder="rechercer une ville...">
			</div>
			<div class="list">
				<a class="ville" v-for="ville in liste" :href="'./ville.html#'+ville.id">
					<b>{{ ville.nom }}</b>
					<table>
						<tr>
							<td>Longitude</td>
							<td>:{{ ville.longitude }}</td>
						</tr>
						<tr>
							<td>Latitude</td>
							<td>:{{ ville.latitude }}</td>
						</tr>
					</table>
				</a>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
new Vue({
  el: '#app',
  data: {
    villes: [],
    liste:[],
    keyword:"",
  },
  watch:{
  	villes(new_val){
  		this.liste = new_val;
  	},
  	keyword(new_val){
  		this.liste = this.villes.filter(x => {
  			return x.nom.toLowerCase().includes(new_val.toLowerCase())
  		})
  	}
  },
  mounted(){
  	axios.get("http://localhost:8080/WS_Locations/api/")
  	.then((response) => {
  		this.villes = response.data
  	}).catch((error) => {
  	  console.error(error);
  	})
  },
});
</script>
</html>