:root{
  --bg: #5af;
  --bg-hover: #5af9;
  --bg-dark: #25a;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.topbar{
	background-color: var(--bg);
	display: flex;
	justify-content: space-between;
}
.topbar *{
	margin: 5px;
	color: white;
	text-decoration: none;
}
.topbar button{
	padding: 5px 25px;
	color: var(--bg-dark);
	font-weight: 700;
}
.body{
	width: 80%;
	margin: auto;
}
.search{
	margin: 10px 0;
}
.search input{
	padding: 10px;
	width: 300px;
	font-size: 12pt;
	display: block;
	margin-left: auto;
}
.list{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.ville{
	background-color: var(--bg);
	padding: 3px;
}
.ville:hover{
	background-color: var(--bg-hover);
}