<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LOCAPART</title>
	<link rel=stylesheet href="./style.css">
	<script src="./dependances/vue.js"></script>
	<script src="./dependances/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<div v-if="!!ville_infos && !!ville">
		<div class="topbar">
			<a href="./index.html"><h3>LOCAPPART</h3></a>
			<button>Connexion</button>
		</div>
		<div class="body">
			<h2 class="villename">
				{{ ville.nom }}
				<img :src="imageUrl(ville_infos.weather[0].icon)"/>
				<label>{{ ville_infos.weather[0].description }}</label>
			</h2>
			<table>
				<tr>
					<td>Longitude</td>
					<td>:{{ ville.longitude }}</td>
				</tr>
				<tr>
					<td>Latitude</td>
					<td>:{{ ville.latitude }}</td>
				</tr>
			</table>
			<table class="table">
				<thead>
					<th>temperature</th>
					<th>feels like</th>
					<th>temp. min</th>
					<th>temp. max</th>
					<th>pression</th>
					<th>humidité</th>
				</thead>
				<tbody>
					<tr>
						<td>{{ ville_infos.main.temp }}</td>
						<td>{{ ville_infos.main.feels_like }}</td>
						<td>{{ ville_infos.main.temp_min }}</td>
						<td>{{ ville_infos.main.temp_max }}</td>
						<td>{{ ville_infos.main.pressure }}</td>
						<td>{{ ville_infos.main.humidity }}</td>
					</tr>
				</tbody>
			</table>
			<div class="list_head">
				<div class="title">
					Nous avons {{ appartements.length }} appartements dans cette ville
				</div>
				<div class="search">
					<input type="text" v-model="keyword" placeholder="rechercer une appartement...">
				</div>
			</div>
			<hr style="margin-bottom:20px">
			<div class="list_appart">
				<div class="appart" v-for="appart in liste">
					<div class="img">
						<img :src="appart.image" width="100%">
					</div>
					<h4>{{ appart.nom }}</h4>
					<span>Prix:</span><b>{{ appart.prix }} €/jour</b>
					<a class="button">Details</a>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>
<script type="text/javascript">
new Vue({
  el: '#app',
  data: {
    appartements: [],
    liste:[],
    keyword:"",
    ville:null,
    ville_id:undefined,
    ville_infos:null,
    API_KEY:"cda1e097cf017d77afebde8769c7f0b5",
  },
  watch:{
  	appartements(new_val){
  		this.liste = new_val;
  	},
  	keyword(new_val){
  		this.liste = this.appartements.filter(x => {
  			return x.nom.toLowerCase().includes(new_val.toLowerCase())
  		})
  	}
  },
  methods:{
  	imageUrl(nom){
  		return `http://openweathermap.org/img/w/${nom}.png`
  	},
  	fetchVilleInfos(nom){
  		axios.get(`https://api.openweathermap.org/data/2.5/weather?q=${nom}&appid=${this.API_KEY}`)
  		.then((response) => {
  		  this.ville_infos = response.data
  		}).catch((error) => {
  		  console.error(error);
  		})
  	},
  	fetchVille(){
	  	axios.get(`http://localhost:8080/WS_Locations/api/ville/${this.ville_id}/`)
	  	.then((response) => {
	  		this.ville = response.data
	  		this.fetchVilleInfos(this.ville.nom)
	  	}).catch((error) => {
	  	  console.error(error);
	  	})
  	},
  	fetchVilleApparts(){
	  	axios.get(`http://localhost:8080/WS_Locations/api/ville/${this.ville_id}/appartements/`)
	  	.then((response) => {
	  		this.appartements = response.data
	  	}).catch((error) => {
	  	  console.error(error);
	  	})
  	}
  },
  mounted(){
  	let array_url = window.location.href.split("#");
  	this.ville_id = array_url[array_url.length-1];
  	if(array_url.length>1){
  		this.fetchVille();
  		this.fetchVilleApparts();
  	} else {
  		window.location = "./index.html"
  	}
  },
});
</script>
</html>